<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head') %>
<!-- Body -->

<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <main class="main-main">

        <div class="container">
            <h1>Mi cuenta </h1>
                <h2> <%= locals.loggedUser?.firstName ? loggedUser.firstName : 'invitado' %> </h2>
                <div class="avatar-div">
                    <img src="/img/avatar/<%= locals.loggedUser.avatar %> " alt="">
                </div>
                <a href="/user/logout"><button class="reset-button">Logout</button></a>
        </div>
    </main>
    <!-- footer -->
<%- include('../partials/footer') %>
</body>

</html>