<!DOCTYPE html>
<html lang="es">
<!-- head -->
    <%- include('../partials/head') %>
<!-- Body -->

<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <form action="/products" method="post" enctype="multipart/form-data" class="form">
        <div class="formulario">
            <!-- <label for="name" class = "labels">Nombre y apellido</label> -->
            <input type="text" name="title" class="form-fields" id="title" placeholder="Nombre del producto" required>
        </div>
        <div class="formulario">
            <!-- <label for="img" class = "labels">Imagen del producto</label> -->
            <input type="file" name="image" class="form-fields" placeholder="Imagen del producto"required>
        </div>
        <div class="formulario">
            <!-- <label for="dob" class = "labels">Fecha de nacimiento</label> -->
            <input type="text" name="description" class="form-fields" placeholder="Descripcion del producto">
        </div>
        <div class="formulario">
            <!-- <label for="address" class = "labels">Domicilio</label> -->
            <input type="number" name="price" class="form-fields" placeholder="$Price" required>
        </div>
        <div class="formulario">
            <!-- <label for="address" class = "labels">Domicilio</label> -->
            <input type="number" name="discount" class="form-fields" placeholder="%discount" required>
        </div>
        <div class="formulario">
            <!-- <label for="address" class = "labels">Domicilio</label> -->
            <input type="number" name="stock" class="form-fields" placeholder="stock" required>
        </div>
        <div class="formulario">
            <select name="brands" class="form-fields" >
                <option value=null>Selecciona una si corresponde</option>
                <% for( let i = 0; i < brands.length; i++ ) { %>
                    <option value="<%=brands[i].id%>"><%=brands[i].brand%></option>
                <% } %>

            </select>
        </div>
        <div class="formulario">
            <select name="categories" class="form-fields" >
                <option value=null>Selecciona una categoria si corresponde</option>
                <% for( let i = 0; i < categories.length; i++ ) { %>
                    <option value="<%=categories[i].id%>"><%=categories[i].name%></option>
                <% } %>

            </select>
        </div>
        </div>
        <div class="botones">
            <button type="submit" class="send-button">Crear producto</button>
            <button type="reset" class="reset-button">Reset</button>
        </div>
    </form>
    <!-- footer -->
<%- include('../partials/footer') %>
</body>

</html>