<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head') %>
<!-- Body -->

<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <main>
        <!-- Product Detail-->
        <section class="product-section">
            <article class="product-article">
                <div class="product-image">
                    <img src=<%= oneProduct.img %> alt="Product">
                </div>
                <div class="product-detail-total">
                    <div class="product-detail">
                        <h2 class="title-product">
                            <%= oneProduct.name%> 
                            <span><a href="/delete">delete</p></span></h2>
                            
                        <p class="product-price">
                            <%= oneProduct.price %> </p>

                    </div>
                    <div class="description-product">
                        <p><%= oneProduct.description %> </p>
                    </div>
                    <input type="submit" value="Add to Cart" class="add-to-cart">
                </div>
            </article>

        </section>
        <!-- footer -->
        <%- include('../partials/footer') %>
</body>

</html>